[submodule "gtk-theme"]
	path = gtk-theme
	url = https://github.com/actionless/oomox-gtk-theme.git
[submodule "materia-theme"]
	path = materia-theme
	url = https://github.com/nana-4/materia-theme.git
[submodule "archdroid-icon-theme"]
	path = archdroid-icon-theme
	url = https://github.com/actionless/oomox-archdroid-icon-theme.git
