[submodule "materia-theme"]
	path = plugins/theme_materia/materia-theme
	url = https://github.com/nana-4/materia-theme.git
[submodule "archdroid-icon-theme"]
	path = plugins/icons_archdroid/archdroid-icon-theme
	url = https://github.com/themix-project/archdroid-icon-theme.git
[submodule "gnome-colors-icon-theme"]
	path = plugins/icons_gnomecolors/gnome-colors-icon-theme
	url = https://github.com/themix-project/gnome-colors-icon-theme.git
[submodule "oomoxify"]
	path = plugins/oomoxify
	url = https://github.com/themix-project/oomoxify.git
[submodule "arc-theme"]
	path = plugins/theme_arc/arc-theme
	url = https://github.com/NicoHood/arc-theme.git
[submodule "numix-icon-theme"]
	path = plugins/icons_numix/numix-icon-theme
	url = https://github.com/numixproject/numix-icon-theme.git
[submodule "numix-folders"]
	path = plugins/icons_numix/numix-folders
	url = https://github.com/numixproject/numix-folders.git
[submodule "papirus-icon-theme"]
	path = plugins/icons_papirus/papirus-icon-theme
	url = https://github.com/PapirusDevelopmentTeam/papirus-icon-theme.git
[submodule "suru-plus"]
	path = plugins/icons_suruplus/suru-plus
	url = https://github.com/gusbemacbe/suru-plus.git
[submodule "suru-plus-aspromauros"]
	path = plugins/icons_suruplus_aspromauros/suru-plus-aspromauros
	url = https://github.com/gusbemacbe/suru-plus-aspromauros.git
[submodule "theme_oomox"]
	path = plugins/theme_oomox
	url = https://github.com/themix-project/oomox-gtk-theme.git
[submodule "plugin_base16"]
	path = plugins/base16
	url = https://github.com/themix-project/themix-plugin-base16.git
