# Ignore Backup Copies from Text Editor
*~

# Ignore SASS files
.sass-cache
gtk.gresource
dist

# python stuff
__pycache__

# pkgbuild
oomox/
pkg/
*.tar.xz
oomox_*.deb

# gettext stuff
locale/
po/oomox.pot
po/*.mo

# temporary/dev files
colors/randomized/
colors/test/
