[submodule "gtk-theme"]
	path = plugins/theme_oomox/gtk-theme
	url = https://github.com/themix-project/oomox-gtk-theme.git
[submodule "materia-theme"]
	path = plugins/theme_materia/materia-theme
	url = https://github.com/nana-4/materia-theme.git
[submodule "archdroid-icon-theme"]
	path = plugins/icons_archdroid/archdroid-icon-theme
	url = https://github.com/themix-project/archdroid-icon-theme.git
[submodule "gnome-colors-icon-theme"]
	path = plugins/icons_gnomecolors/gnome-colors-icon-theme
	url = https://github.com/themix-project/gnome-colors-icon-theme.git
[submodule "oomoxify"]
	path = plugins/oomoxify
	url = https://github.com/themix-project/oomoxify.git
[submodule "arc-theme"]
	path = plugins/theme_arc/arc-theme
	url = https://github.com/NicoHood/arc-theme.git
	branch = oomox
[submodule "numix-icon-theme"]
	path = plugins/icons_numix/numix-icon-theme
	url = https://github.com/numixproject/numix-icon-theme.git
[submodule "numix-folders"]
	path = plugins/icons_numix/numix-folders
	url = https://github.com/numixproject/numix-folders.git
[submodule "base16_mirror"]
	path = plugins/base16/base16_mirror
	url = https://github.com/themix-project/base16_mirror.git
[submodule "papirus-icon-theme"]
	path = plugins/icons_papirus/papirus-icon-theme
	url = https://github.com/PapirusDevelopmentTeam/papirus-icon-theme.git
