/**********
 ! Calendar
***********/

@include exports("calendar") {
	GtkCalendar {
		padding: $spacing;
		outline-offset: -1px;

		&:inconsistent { color: mix($fg_color, $bg_color, 0.5); }

		&.view, &.highlight, &.header, &.button {
			&, &:hover, &:insensitive {
				border: none;
				background-color: transparent;
				background-image: none;
			}
		}

		&.highlight { color: $selected_bg_color; }
	}

	/* gnome-calendar */
	.calendar-view {
		background-color: $base_color;
		color: $text_color;
	}
}

