/***************
! Dimmed label *
****************/

@include exports("dimlabel") {
	.dim-label {
		opacity: 0.5;
		text-shadow: none;
	}
}


/***********
 ! Tooltip *
************/

@include exports("tooltip") {
	.tooltip {
		@include linear-gradient($tooltip_bg_color);

		border: none;
		border-radius: $roundness;
		color: $tooltip_fg_color;

		* { background-color: transparent; }
	}
}


/***********
 ! Dialogs *
************/

@include exports("dialogs") {
	GtkMessageDialog, .message-dialog, .prompt {
		-GtkDialog-content-area-border: 0;
		-GtkDialog-action-area-border: 0;
		-GtkDialog-button-spacing: 0;

		margin: 0;
		padding: 0;
	}
}


/*********************
 ! App notifications *
**********************/

@include exports("notifications") {
	.app-notification {
		border-style: solid;
		border-color: border_normal($base_color);
		border-width: 0 1px 1px 1px;
		border-radius: 0 0 $roundness $roundness;
		padding: $spacing * 3;
		background-color: $base_color;
		background-image: none;
		color: $text_color;
	}
}


/*************
 ! Expanders *
**************/

@include exports("expander") {
	GtkExpander {
		padding: $spacing;
		outline-offset: 1px;
	}

	.expander {
		color: alpha(currentColor, 0.7);
		border: alpha(currentColor, 0.7);

		&:hover {
			color: alpha(currentColor, 0.8);
			border-color: alpha(currentColor, 0.8);
		}

		&:active {
			color: alpha(currentColor, 0.9);
			border-color: alpha(currentColor, 0.9);
		}
	}
}


/*******************
 ! Symbolic images *
********************/

@include exports("symbolicimage") {
	.image {
		color: alpha(currentColor, 0.5);

		&:hover { color: alpha(currentColor, 0.9); }

		&:selected, &:selected:hover { color: $selected_fg_color; }
	}
}


/****************
 ! Floating bar *
*****************/

@include exports("floatingbar") {
	.floating-bar {
		@include linear-gradient($bg_color);

		border: 1px solid border_normal($bg_color);
		border-radius: $roundness;
		color: $fg_color;

		&.top {
			border-top-width: 0;
			border-top-right-radius: 0;
			border-top-left-radius: 0;
		}

		&.right {
			border-right-width: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		&.bottom {
			border-bottom-width: 0;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}

		&.left {
			border-left-width: 0;
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
		}

		.button {
			-GtkButton-image-spacing: 0;
			-GtkButton-inner-border: 0;

			border: none;
			background-color: transparent;
			background-image: none;
		}
	}
}


/*************************
 ! Touch text selections *
**************************/

@include exports("touchbubble") {
	GtkBubbleWindow {
		border-radius: $roundness;
		background-clip: border-box;

		&.osd.background { background-color: $osd_bg; }

		.toolbar { background-color: transparent; }
	}
}

/***************
 ! Font-viewer *
****************/

@include exports("fontviewer") {
	SushiFontWidget {
		padding: $spacing ($spacing * 2);
	}
}


/*************
 ! Gucharmap *
**************/

@include exports("charmap") {
	GucharmapChartable {
		background-color: $base_color;
		color: $text_color;

		&:focus, &:hover, &:active, &:selected { @extend %selected; }
	}
}


/*************
 ! Evolution *
**************/

@include exports("evolution") {
	EPreviewPane .entry {
		background-color: $base_color;
		color: $text_color;
	}
}


/*******************
 ! Gnome Bluetooth *
********************/

@include exports("gnome-bluetooth") {
	GtkEntry.entry.pin-entry {
		font: regular 50;
		padding-left: 25px;
		padding-right: 25px;
	}

	GtkLabel.pin-label { font: regular 50; }
}
