/***********
 ! Scrollbar
************/

@include exports("scrollbar") {
	* {
		-GtkRange-slider-width: 8;
		-GtkRange-stepper-spacing: 0;
		-GtkRange-trough-border: $spacing;
		-GtkRange-trough-under-steppers: 1;
		-GtkScrollbar-has-backward-stepper: false;
		-GtkScrollbar-has-forward-stepper: false;
		-GtkScrollbar-min-slider-length: 80;
		-GtkScrolledWindow-scrollbar-spacing: 0;
		-GtkScrolledWindow-scrollbars-within-bevel: 1;
	}

	.scrollbar {
		border: none;
		padding: 0;

		&.button {
			&, &:active, &:active:hover {
				border-width: 0;
				border-radius: 0;
				background-color: transparent;
				background-image: none;
				color: shade($bg_color, 0.6);
			}
		}

		&.slider, &.slider.vertical {
			border: none;
			border-radius: $roundness;
			background-color: mix($bg_color, $fg_color, 0.21);

			&:hover { background-color: $selected_bg_color; }

			&:active { background-color: shade($selected_bg_color, .9); }

			&.fine-tune:prelight:active { border: 2px solid transparent; }
		}
	}

	.scrollbars-junction,
	.scrollbar.trough {
		border: none;
		border-radius: 0;
		background-color: $bg_color;
		background-image: none;
	}

	/* overlay scrollbar */
	OsThumb, OsScrollbar {
		color: shade($bg_color, 0.7);

		&:selected { background-color: $selected_bg_color; }

		&:active { background-color: $selected_bg_color; }

		&:insensitive { background-color: shade($bg_color, 0.9); }
	}
}
