/* default color scheme */
$bg_color: #eee;
$fg_color: #444;
$base_color: #fff;
$text_color: #444;
$selected_bg_color: #f06860;
$selected_fg_color: #fff;
$tooltip_bg_color: #444;
$tooltip_fg_color: #eee;

/* dark colors */
$dark_bg_color: #444;
$dark_fg_color: #eee;

/* shadows */
$dark_shadow: #000;
$light_shadow: #fff;

/* misc colors used by gtk+ */
$info_fg_color: #3986ac;
$info_bg_color: #d9edf7;
$warning_fg_color: #c09853;
$warning_bg_color: #fcf8e3;
$question_fg_color: #d64937;
$question_bg_color: #fce5d5;
$error_fg_color: #b94a48;
$error_bg_color: #f2dede;
$link_color: #fc6f5d;
$success_color: #53a93f;
$warning_color: #f57900;
$error_color: #cc0000;

$titlebar_bg_color: $dark_bg_color;
$titlebar_fg_color: $dark_fg_color;

$menu_bg_color: $dark_bg_color;
$menu_fg_color: $dark_fg_color;

/* widget styles */
$roundness: 2px;
$spacing: 5px;
$gradient: 0;
$contrast: .7;
