/* Default color scheme */ 
@define-color bg_color #dddddd;
@define-color fg_color #888888;
@define-color base_color #eeeeee;
@define-color text_color #888888;
@define-color selected_bg_color #d64937;
@define-color selected_fg_color #f9f9f9;
@define-color tooltip_bg_color #eeeeee;
@define-color tooltip_fg_color #888888;

/* misc colours used by gtk+ */   
@define-color theme_base_color @base_color;
@define-color theme_bg_color @bg_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_text_color @text_color;
@define-color theme_fg_color @fg_color;
@define-color theme_selected_fg_color @selected_fg_color; 
@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;
@define-color alternate_selected_bg_color #d8d8d8; 
@define-color theme_hover_fg_color #666666;
@define-color insensitive_fg_color #b0b0b0;
@define-color insensitive_entry_fg_color #bbbbbb;
@define-color insensitive_borders #c0c0c0;
@define-color border_color #cccccc;
@define-color shadow_color #c7c7c7;
@define-color scrollbar_border #bbbbbb;
@define-color selected_cell @theme_selected_fg_color;
@define-color scrollbar_color #aaaaaa;
@define-color menubar_color #141414;
@define-color menubar_menuitem_color #262626;
@define-color menubar_border_color #101010;
@define-color dark_hover_fg_color #cccccc;
@define-color dark_fg_color #888888;
@define-color button_gradient_a #f1f1f1;
@define-color button_gradient_b #ececec;
@define-color notebook_tab_gradient_b #fefefe;
/*********************
 * Error/Warning/... *
 *********************/
@define-color link_color @theme_selected_fg_color;
@define-color warning_color #9A6A06;
@define-color error_color #FF2020;
@define-color success_color #4e9a06;

@define-color info_fg_color rgb (100, 100, 100);
@define-color info_text_shadow alpha(black, 0.1);
@define-color info_bg_color rgb (224, 227, 184);
@define-color warning_fg_color rgb (100, 100, 100);
@define-color warning_text_shadow alpha(black, 0.1);
@define-color warning_bg_color rgb (230, 213, 190);
@define-color question_fg_color rgb (100, 100, 100);
@define-color question_text_shadow alpha(black, 0.1);
@define-color question_bg_color rgb (180, 222, 175);
@define-color error_fg_color rgb (100, 100, 100);
@define-color error_text_shadow alpha(black, 0.1);
@define-color error_bg_color rgb (231, 201, 201);

@import url("unity.css");
@import url("gtk-widgets.css");
@import url("gtk-widgets-assets.css");
