Package: oomox
Version: 1.5.0.2-1~actionless~zesty
Architecture: all
Maintainer: Yauheni Kirylau <actionless.loveless@gmail.com>
Depends: python3-gi, libglib2.0-bin, libgdk-pixbuf2.0-dev, libxml2-utils, x11-xserver-utils, gir1.2-gtk-3.0, gir1.2-glib-2.0, gir1.2-pango-1.0, gir1.2-gdkpixbuf-2.0, gtk2-engines, gtk2-engines-murrine, gtk2-engines-pixbuf, bash, bc, sed, grep, parallel, sassc, imagemagick, optipng, librsvg2-bin, inkscape
Suggests: breeze-icon-theme
Section: devel
Priority: optional
Homepage: https://github.com/actionless/oomox
Description: Graphical application for generating different color variations of Numix and Materia (ex-Flat-Plat) themes (GTK2, GTK3), gnome-colors and ArchDroid icon themes. Have a hack for HiDPI in gtk2.
