/******************
 ! Grid and flowbox
*******************/

@include exports("grid") {
    list {
        color: $text_color;
        background-color: $base_color;
        border-color: $borders_color;

        &:backdrop {
            background-color: $backdrop_base_color;
            border-color: $backdrop_borders_color;
        }

        row {
            &, &.button {
                border: 0;
                border-radius: 0;
                padding: $spacing;
                background-image: none;
                background-color: alpha($bg_color, 0);
                box-shadow: none;

                &:hover {
                    background-image: none;
                    background-color: shade($bg_color, 1.02);
                }

                &:selected {
                    &, &:hover, &:focus {
                        background-image: none;
                        background-color: $selected_bg_color;
                        color: $selected_fg_color;
                    }
                }
            }
        }
    }

    flowbox {
        rubberband { @extend rubberband; }

        flowboxchild {
            padding: $spacing;
            border-radius: $roundness;

            &:selected {
                @extend %selected;

                outline-offset: -2px;
            }
        }
    }
}

