/**************
 ! Window frame
***************/

@include exports("window") {
    %window {
        box-shadow: 0 10px 20px rgba(0, 0, 0, .3), 0 6px 6px rgba(0, 0, 0, .22), 0 0 0 1px $wm_border_focused;

        &:backdrop {
            box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23), 0 0 0 1px $wm_border_unfocused;
        }
    }

    decoration {
        @extend %window;

        border-radius: $roundness $roundness 0 0;
        // lamefun trick to get rounded borders regardless of CSD use
        border-width: 0px;

        /* this is used for the resize cursor area */
        margin: $spacing * 3;

        .fullscreen &, .tiled & { border-radius: 0; }

        .popup & { box-shadow: none; }

        // this needs to be transparent
        // see bug #722563
        // server-side decorations as used by mutter
        .ssd & { box-shadow: 0 0 0 1px if($variant=='light', transparentize(black, .77), transparentize($borders_color, .1)); } //just doing borders, wm draws actual shadows

        .solid-csd & {
            border-radius: 0;
            margin: 1px;
            background-color: $bg_color;
            box-shadow: none;
        }

        .csd.popup & {
            @extend %window;

            border-radius: 0;
        }

        tooltip.csd & {
            border-radius: $roundness;
            box-shadow: none;
        }

        messagedialog.csd & {
            @extend %window;

            border-radius: $roundness;
        }
    }
}
