[Desktop Entry]
Name=Icons and GTK themes customizer Oomox
Name[fr]=Personnalisation d'icônes et thèmes GTK Oomox
GenericName=Oomox
Comment=Graphical application for generating different color variations of Numix and Materia GTK themes, gnome-colors and ArchDroid icon themes
Comment[fr]=Application graphique permettant de générer différentes variations de couleurs des thèmes GTK Numix et Materia ainsi que des thèmes d'icônes gnome-colors et ArchDroid
Exec=oomox-gui
Terminal=false
Type=Application
Icon=com.github.themix_project.Oomox
Categories=GNOME;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
Keywords=color;gtk;highlight;theme;widget;numix;
StartupWMClass=Oomox
X-GNOME-Gettext-Domain=Oomox
X-Desktop-File-Install-Version=0.22
