[Desktop Entry]
Name=Themix/Oomox: customize icons and GTK themes
GenericName=Themix
Comment=Graphical application for generating different color variations of Numix and Materia GTK themes, gnome-colors and ArchDroid icon themes
Exec=oomox-gui
Terminal=false
Type=Application
Icon=com.github.themix_project.Oomox
Categories=GNOME;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
Keywords=color;gtk;highlight;theme;widget;numix;
StartupWMClass=Themix
X-GNOME-Gettext-Domain=Themix
X-Desktop-File-Install-Version=0.22
