[Desktop Entry]
Name=Themix/Oomox theme designer
GenericName=Themix
Comment=GUI for generating different color variations of Arc, Materia, Oomox themes (GTK2, GTK3, Cinnamon, GNOME, MATE, Openbox, Xfwm), ArchDroid, Gnome-Colors, Numix, Papirus, Suru++ icons, and terminal palettes. Have a hack for HiDPI in GTK2.
Exec=oomox-gui
Terminal=false
Type=Application
Icon=com.github.themix_project.Oomox
Categories=GNOME;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
Keywords=color;gtk;highlight;theme;widget;numix;
StartupWMClass=Themix
X-GNOME-Gettext-Domain=Themix
X-Desktop-File-Install-Version=0.22
