name: Code Style

on:
  push:
    branches: [ master, mypy ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-22.04
    name: ${{ matrix.PYVER }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - PYVER: current_arch
            CI_MAKE_TARGET: lint

          - PYVER: python310_ubuntu_2204
            CI_MAKE_TARGET: lint_ubuntu_310

    env:
      PYVER: ${{ matrix.PYVER }}
      CI_MAKE_TARGET: ${{ matrix.CI_MAKE_TARGET }}

    steps:
    - uses: actions/checkout@v2

    - name: move dockerfiles into build context
      run: mv ./dockerfiles/* ./

    - name: switch base docker image
      run: sed -i -e 's|FROM archlinux:base-devel|FROM actionless/pikaur|' Dockerfile_${PYVER}

    - name: build docker image
      run: docker build . -f Dockerfile_${PYVER} -t oomox

    - name: run ci in docker
      run: docker run
        oomox:latest
        make ${CI_MAKE_TARGET}
